.center {
    display: block;
    margin-left: auto;
    margin-right: auto; 
    width: 20%
}

.logo {
    margin-top: 10em;
    margin-bottom: 2em;
    height: auto;
    width: 15%;
}

.buttons {
    padding-top: 1em;
    border-width: 10em;
    width: 15%;
    margin: auto;
}

.left_footer{
    justify-content: left;
}
.center_footer{
    justify-content: center;
}
.right_footer{
    justify-content: right;
}

footer {
    clear: both;
    position: relative;
    height: 3em;
    background-color: lightgray;
}

#button1 {
    padding: 1.25em;
    background-color: rgb(245, 245, 245);
    border-style: solid;
    border-radius: 4px;
    border: none;
    font-size: 12px;
}

#button2 {
    padding: 1.25em;
    background-color: rgb(245, 245, 245);
    border-style: solid;
    border-radius: 4px;
    border: none;
    font-size: 12px;
}

#search_bar {
    border: 1px solid rgb(211, 211, 211);
    border-radius: 20px;
    padding-right: 15em;

}

#glass {
    height: auto;
    width: 5%;
    padding: .5em;
    }
