html, body{
    height: 100%;
    width: 100%;
    box-sizing: border-box;
}



.wrapper{
    min-height: 100%;
    display: grid;
    grid-template-rows: auto 1fr auto;
}

.center {
    display: block;
    margin-left: auto;
    margin-right: auto; 
    width: 20%
}

.logo {
    margin-top: 15em;
    margin-bottom: 2em;
    height: auto;
    width: 13%;
    
}

.buttons {
    /*padding-top: 1em;*/
    border-width: 12em;
    margin: 0;
    position: absolute;
    top: 33%;
    left: 44.5%;
}

.left_footer{
    float: left;
}

.right_footer{
    float: right;
    
}

footer {
    background-color: rgb(241, 241, 241);
    
}

#button1 {
    padding: 1em;
    background-color: rgb(245, 245, 245);
    border-style: solid;
    border-radius: 4px;
    border: none;
    font-size: 12px;
}

#button2 {
    padding: 1em;
    background-color: rgb(245, 245, 245);
    border-style: solid;
    border-radius: 4px;
    border: none;
    font-size: 12px;
}

#search_bar {
    border: 1px solid rgb(211, 211, 211);
    border-radius: 20px;
    padding-right: 8em;
    height: 4.25%;
    
}

#glass {
    height: auto;
    width: 3.5%;
    padding-top: .75em;
    padding-left: .5em;
    /*padding: .5em;*/
    }
