.center {
    display: block;
    margin-left: auto;
    margin-right: auto; 
    width: 20%
}

.logo{
    margin-top: 10em;
}

#search_bar {
    border-style: solid;
    margin-left: 24em;
    padding-left: 30em;
}